@model skyImageWS.SkyImage

@{
    ViewData["Title"] = "delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SkyImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkyImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkyImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageSet)
        </dd>
    </dl>
    
    <form asp-action="delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Images">Back to List</a>
    </form>
</div>
